<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>Augular Test Project</title>
    <script type="text/javascript" data-main="js/main" src="components/requirejs/require.js"></script>
</head>

<body>
    <div ng-controller="HelloController">
        <h2>双向数据绑定</h2>
        type some word:
        <input ng-model="greeting.text" type="text">
        <br> {{greeting.text | TitleCase:1}} {{greeting.userName}}!!
    </div>
    <br>
    <div ng-controller="PageController">
        <h2>$scope.$watch</h2>
        <b>订单：</b>
        <div>数量：
            <input type="number" ng-model="qty" required>
        </div>
        <div>单价：
            <input type="number" ng-model="cost" required>
        </div>
        <div>
            <input type="button" ng-click="total()" value="计算">
        </div>
        <div><b>总价：</b><span ng-bind="pay"></span></div>
    </div>
    <br>
    <div ng-controller="CartController">
        <h2>Your shopping cart ng-repeat</h2>
        <ul>
            <li ng-repeat="(key,item) in ShopCart">{{key}}:{{item.name}}
                <input type="text" ng-model="item.count"> {{item.price | currency}} {{item.price*item.count | currency}}
                <input ng-click="remove($index)" type="button" value="remove">
            </li>
        </ul>
    </div>
    <br>
    <div ng-controller="HideAndShowController">
        <h2>ng-show ng-hide</h2>
        <p ng-show="thisDivShow">this is a common Paragraph,but you can hide or show it through press show and close button.</p>
        <br>
        <button ng-click="show()">显示</button>
        <button ng-click="hide()">隐藏</button>
    </div>
</body>

</html>
